*, html, body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

html, body {
    height: 100%;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-weight: normal;
}

h2 {
    font-size: 1.3em;
}

header {
    min-height: 100%;

    background-image: url("./images/headerBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    color: #FFFFFF;
}

.menu {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    bottom: 25px;
    right: 25px;
}
  
.hamburguer {
    position: relative;
    display: block;
    background: #FFFFFF;
    width: 30px;
    height: 2px;
    top: 29px;
    left: 15px;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before,
.hamburguer:after {
    background: #FFFFFF;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
}
  
.hamburguer:before {
    top: -10px;
}
  
.hamburguer:after {
    bottom: -10px;
}
  
input {
    display: none;
}
  
input:checked ~ label .hamburguer {
    transform: rotate(45deg);
}
  
input:checked ~ label .hamburguer:before {
    transform: rotate(90deg);
    top: 0;
}
  
input:checked ~ label .hamburguer:after {
    transform: rotate(90deg);
    bottom: 0;
}

#top-menu ul {
    list-style: none;
}
    
#top-menu ul li {
    margin: 10px 0;
    margin-left: 10px;
}

#top-menu ul li a {
    color: #FFFFFF;
}

.menu-hide {
    display: none;
}

#name-div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;

    text-align: center;
}

#name-div h1{
    font-size: 2.5em;
}

#name-div h2{
    font-size: 1.3em;
}

#name span {
    color: #FF00E5;
}

#main {
    overflow: hidden;
}

#experiences {
    margin: 50px 5%;
}

#experiences h2 {
    text-align: center;
}

#experiences h3 {
    font-size: 1.3em;
}

#xp-1 {
    position: relative;
    margin: 30px 0;
}

#xp-1 > div {
    padding: 20px;
    min-height: 150px;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border-left: 5px solid #7FFFD4;
    background-color: #FFFFFF;
    
}

#xp-1 > div h3 {
    text-align: center;
}

#xp-1 img {
    position: absolute;
    top: 80px;
    left: -80px;

    z-index: -1;
}

.xp-text {
    margin-top: 20px;
}

.xp-link {
    margin-top: 20px;

    text-align: right;
}

.xp-link a {
    color: #7FFFD4;
}

#knowledges {
    margin: 0 5%;

}

#knowledges h2 {
    padding-top: 30px;
    text-align: center; 
}

#knowledges h4 {
    margin-top: 5px;
}

#know-div {
    justify-items: center;
}

.know-content {
    margin: 30px 0;
}

.know-content p {
    margin-top: 15px;
    line-height: 21px;
}

.know-content {
    padding: 20px;

    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    border-left: 5px solid #FF00E5;

    align-content: flex-end;
}

#projects {
    text-align: center;
}

#projects-div {
    margin: 0 5%;
}

#project-background {
    transition: ease 0.5s;
}

#project-background:hover {
    filter: brightness(0.5);
    transition: ease 0.5s;
}

#projects-div img {
    width: 100%;
}

#projects h2 {
    margin-bottom: 30px;
}

.project-content {
    position: relative;
    margin: 30px 30px;
}

.project-content p {
    position: absolute;
    bottom: 0;
    padding-top: 5px;

    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}

.project-content a {
    color: #FFFFFF;
}

#project-link {
    margin-top: 30px;
    text-align: center;
}

#project-link a {
    color: #FF00E5;
}

footer {
    position: relative;
    background-color: #7FFFD4;

    margin-top: 80px;
    padding-top: 70px;
    padding-bottom: 70px;
}

#perfil {
    position: absolute;

    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);

}

#perfil img {
    width: 71px;
}

footer > div {
    width:  100%;
}

footer h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

footer p {
    font-size: 18px;
    margin-bottom: 5px;
}

#footer-content {
    margin: 0 10%;
}

#footer-content > div > div {
    display: flex;
}

#contact > div > p {
    margin-left: 5px;
}

#lingit {
    margin-top: 15px;
    margin-left: 15px;
}

#lingit > div {
    margin-right: 15px;
}

#about {
    margin-top: 25px;
}

#about p {
    text-align: justify;
}


.menu-reveal {
    opacity: 0;
    animation-name: menuReveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.title {
    opacity: 0;
    animation-name: nameReveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.title-reveal {
    opacity: 0;
    animation-name: titleReveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.reveal {
    opacity: 0;
    animation-name: reveal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.left {
    opacity: 0;
    animation-name: moveLeft;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

@media (min-width: 800px) {
    #menu-hamburguerDiv {
        display: none;
    }

    #top-menu {
        display: block;

        padding-top: 20px;
    }
    
    #top-menu ul {
        display: flex;
        justify-content: center;
    }
    
    #top-menu ul li {
        margin: 0 5%;
    
        font-size: 16px;
    }
    
    #experiences {
        margin: 50px 15%;
    }
    
    #experiences h2 {
        padding-bottom: 30px;
    }
    
    #xp-1 > div {
        width: 285px;
        padding: 30px;
    
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
        border-left: 5px solid #7FFFD4;
    }
    
    #xp-1 img {
        top: 130px;
    }
    
    #knowledges {
        margin: 0px 3%;
    }
    
    #knowledges h2 {
        padding-bottom: 30px;
        padding-top: 50px;
    }
    
    #know-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    #know-2, #know-4 {
        position: relative;
        
        width: 100%;
    }
    
    #know-2 > div, #know-4 > div {
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, 0);
    }
    
    .know-content {
        width: 305px;
        padding: 20px;
    }

    
    #projects-div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #projects h2 {
        padding-top: 50px;
    }

    .project-content {
        position: relative;
        margin: 10px 10px;
    }
    
    #project-link {
        padding-top: 50px;
        margin-bottom: 80px;

    }

    footer {
        margin-top: 0;
    }
    
    #footer-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        margin: 0 10%;
    }
}

@media (min-width: 1366px){
    #knowledges {
        margin: 0px 10%;
    }

    
    .project-content {
        margin: 10px 30px;
    }

    
}


@keyframes menuReveal {
    0% { 
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
}

@keyframes nameReveal {
    0% { 
      opacity: 0;
      transform: translate(-50%, 0) 
    }
    
    100% {
      opacity: 1;
      
    transform: translate(-50%, -50%);

    }
}

@keyframes titleReveal {
    0% { 
      opacity: 0;
      transform: translate(0, 20%) 
    }
    
    100% {
      opacity: 1;
      
    transform: translate(0, 0);

    }
}


@keyframes reveal {
    0% { 
      opacity: 0;
      transform: scale(0.9)
    }
    
    100% {
      opacity: 1;
      transform: scale(1);
    }
}

@keyframes moveLeft {
    0% { 
      opacity: 0;
      transform: translate(100%, 0);
    }
    
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
}